.Jibble-container{
    height: 100%;
    background-color: rgba(253, 248, 248, 0.5);
    margin: 30px;
    .Jibble-header{
        height: 50px;
        padding: 10px;
        border-bottom: solid 1px lightgray;
        text-align: center;
        .title{
            font-size: 20px;
        }
        .sub-title{
            font-size: 15px;
            padding: 5px 0px 0px 0px;
        }
    }

    .Jibble-content{
        padding: 0px 15px 15px;
        height: calc(100% - 166px);
        overflow: auto;
        .Jibble-items-container{
            .Jibble-item{
                display: flex;
                height: 50px;
                align-items: center;
                border: solid 1px lightgray;
                padding: 0px 5px;
                margin: 10px 0px;
                .item{
                    flex: 1;
                }
                .icon{
                    font-size: 17px;
                    margin: 0px 5px;
                }
            }
            
        }
       
    }
    .Jibble-total-count{
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0px 17px;
        border-top: solid 1px lightgray;
    }
    .server-error{
        padding: 10px 0px;
        color: darkred;
    }
}